//<Connecting fonts>=================================================================
// insert the google fonts URL here
//<Connecting fonts>=================================================================

//<Defoult font>=================================================================
$fontfamily: "";
//<Defoult font>=================================================================

//<Variables>=================================================================
$minwidth: 320px;
//<Variables>=================================================================

//<Connecting reset styles>=================================================================
@import "_reset-style";
//<Connecting reset styles>=================================================================

//<Wrapper>=================================================================
.wrapper {
  overflow: hidden;
  min-height: 100%;
}
//<Wrapper>=================================================================

//<MAIN GRID>=================================================================
.container {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0px auto;
}
//<MAIN GRID>=================================================================

//<CONNECTING FILES STYLES PAGES AND ELEMENTS>=================================================================
@import "_ui.scss";
@import "../scss/_mixin.scss";
@import "_variables";
//<CONNECTING FILES STYLES PAGES AND ELEMENTS>=================================================================

//< START MAIN BLOCK >=================================================================

//< END MAIN BLOCK >=================================================================
//< START HEADER >=================================================================

//< END HEADER >=================================================================
//< START CONTENT >=================================================================

//< END  CONTENT >=================================================================
//< END MAIN BLOCK >=================================================================
// burger of three spans
/* 
   .header-menu__icon{
      display: block;
      position: absolute;
      top: 18px;
      right: 10px;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 5;
      span{
         @include anim(0.3s,0s);
         top: 8px;
         left: 0;
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: #000;
            &:first-child{top: 0px;}
            &:last-child{top: auto;bottom: 0px;}
         }
      &.active{
         span{@include scale(0);
            &::first-child{@include rotate(-45deg);top: 8px;}
            &::last-child{@include rotate(45deg);bottom: 8px;}
         }
      }
   } 
   */
