@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Rubik";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Rubik";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*--------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1170px;
  padding: 0px 16px;
  margin: 0px auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* .ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: top;
} */
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  background-color: #3d85f9;
}

.header {
  margin: 19px 0px 0px 0px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li {
  margin: 0px 0px 0px 35px;
  position: relative;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  font-size: 14px;
  color: #07275c;
  font-weight: 500;
}

.header__line {
  padding: 0px 3px 3px 3px;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__line:hover {
  padding: 0px 3px 3px 3px;
  border-bottom: 3px solid #cddf6b;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  width: 130px;
  padding: 13.5px 20px;
  border: 2px solid #cddf6b;
  border-radius: 35px;
  margin: 0px 26px 0px 0px;
}

.header__lang {
  position: relative;
}

.header__lang span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: calc(50% - 9px);
  left: -20px;
}

@media (max-width: 1120px) {
  .header__menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100px;
    left: 0;
  }
  .header__list li {
    margin: 0px 0px 0px 15px;
  }
}

.lang {
  /*  &::before {
    content: "";
    display: block;
    background-image: url(img/icons/icon_1.svg);
    width: 16px;
    height: 16px;
    top: 10px;
    left: 0px;
  } */
}

/* 
   .header-menu__icon{
      display: block;
      position: absolute;
      top: 18px;
      right: 10px;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 5;
      span{
         @include anim(0.3s,0s);
         top: 8px;
         left: 0;
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: #000;
            &:first-child{top: 0px;}
            &:last-child{top: auto;bottom: 0px;}
         }
      &.active{
         span{@include scale(0);
            &::first-child{@include rotate(-45deg);top: 8px;}
            &::last-child{@include rotate(45deg);bottom: 8px;}
         }
      }
   } 
   */
/*# sourceMappingURL=style.css.map */